{
  "env": {
    "targets": {
      "node": 16
    }
  },
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "@/*": ["./src/*"]
    },
    "target": "es2017"
  },
  "minify": true,
  "sourceMaps": true
}
